<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MeetUp</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/js/js.js"></script>

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Információ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#registration">Regisztráció</a>
                </li>
                <li>
                    <a class="page-scroll" href="#perform">Előadók</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kapcsolat</a>
                </li>
                <li>
                    <a class="page-scroll" href="#support">Partnereink</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
</header>

<section class="sm-helper">
</section>

<center class="section-heading" id="about">
    <div class="bulb">
        <div class="bulb-left">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <div class="bulb-right">
           <img src="./images/light-bulb.svg" alt="" />
        </div>
        <h2>Információ</h2>
    </div>
</center>
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>XII. SCHÖNHERZ MEETUP</h2>

                <h4>Financial Technnology</h4>
                <br>
                <p>A Schönherz Vállalati Kapcsolatok immáron tizenkettedik alkalommal rendezi meg a Schönherz Meetup néven ismert egész estés rendezvényét, amely lehetőséget nyújt a hallgatóknak bepillantani egy izgalmas témába négy előadáson keresztül.</p>
                <p>Az előadások a jövő fizetőeszközének kérdését járják körül A hangulat oldottságát garantálja és az estét vezeti: Kertész Ricsi. Végül rendezvényünk egy kellemes borkóstolóval zárul a Havas&Tímár pincészet jóvoltából.</p>
                <p>
                    <b>Időpont:</b> 2019. november 13. szerda, 19:00 - 21:00-ig, utána kötetlen beszélgetés borkóstolóval. Kapunyitás 18:30-kor.<br/>

                    <b>Cím:</b>1117 Budapest, Irinyi József utca 42. - Schönherz Zoltán Kollégium Földszinti Nagyterem<br/>

                    A rendezvény ingyenes, de regisztrációhoz kötött!
                </p>
            </div>
        </div>
    </div>
</section>

<center id="registration">
    <div class="bulb">
        <div class="bulb-left">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <div class="bulb-right">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <h2 class="section-headingLow">Regisztráció</h2>
        <p>A regisztrációval elfogadásra kerülnek a következők:</p>
        <p>Az este folyamán videó- és képfelvételek készülnek. Valamint a megadott email címet egyszeri alkalommal felhasználjuk arra, hogy az estéről értékelést kérjünk.</p>
    </div>
</center>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Korlátozott számú hely áll rendelkezésre.</p>
                <p>Regisztráció: 2019. november 12. - 24:00-ig</p>
                <div class="form" id="registration-form">
                    <input id="registration-name" name="name" type="text" placeholder="Neved" />
                    <br/>
                    <input id="registration-email" name="email" type="text" placeholder="E-mail címed" />
                    <br/>
                    <input id="registration-comesfrom" name="comesfrom" type="text" placeholder="Melyik szervezettől jöttél? (egyetem, cég neve...)" />
                    <br/>
                    <input id="registration-info" name="info" type="text" placeholder="Honnan értesültél a rendezvényről?" />
                    <br/>
                    <button class="submit-button" id="registration-button">Regisztrálok</button>
                </div>
            </div>
        </div>
    </div>
</section>

<center class="section-heading" id="perform">
    <div class="bulb">
        <div class="bulb-left">
            <img src="./images/light-bulb.svg" alt="" />

        </div>
        <div class="bulb-right">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <h2>Előadók</h2>
    </div>
</center>
<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="speakers-container">
                    <div class="section-content wrap">
                        <div class="speaker-item clear">
                            <div class="speaker-head"><img src="./images/profile_images/s_erika.jpg" alt="Schalkhammer Erika"></div>
                            <h4>Schalkhammer Erika<br/> <span>Független szakértő, senior tanácsadó, aki a hazai piacon kívül leginkább a Közép-Kelet európai régióban, ill. az EU-ban tevékenykedik</span></h4>
                            <h3>Az azonnali fizetés gazdasági szektorokon átívelő hatása</h3>
                            <p>Miben hoz újdonságot, előrelépést idehaza a jövőre tervezett az azonnali fizetés?<br/>
                            Nemzetközi példák alapján az azonnali fizetés a pénzforgalomban milyen strukturális átalakulásokhoz vezethet?<br/>
                            A nemzetközi legjobb gyakorlatokat és tapasztalatokat hogyan hasznosítjuk a tervezett bevezetéskor?</p>
                        </div>
                        <div class="speaker-item clear">
                            <div class="speaker-head"><img src="./images/profile_images/lengyel_laszlo.jpg" alt="Lengyel László"></div>
                            <h4>Lengyel László<br/> <span>BME VIK Automatizálási és Alkalmazott Informatikai Tanszék<br/>egyetemi tanár</span></h4>
                            <h3>A szoftver ereje</h3>
                            <p>A szoftverrendszerek meghatározó szereppel rendelkeznek az iparban, az üzleti világban és a társadalomban. A szoftvermegoldásoknak horizontális szerepük van, hiszen más szakterületeket, mint amilyen a pénzügyi terület, tesznek versenyképessé. Az információs és kommunikációs technológiák olyan módszerekkel, technikákkal és eszközökkel rendelkeznek, melyekkel robusztus, komplex szoftverrendszerek kifejlesztésére használunk. A jelenlegi trendek (felhő-alapú megoldások, felhasználás-alapú szolgáltatások, adatelemzés, mesterséges intelligencia, intelligens eszközök, intelligens érzékelők, hordható eszközök, a tárgyak internete, szoftverintenzív megoldások, integráció) csökkentik azt az időt, amely emberi ráfordítást jelent a szoftverek tervezése, fejlesztése, üzemeltetése és karbantartása során. Az alkalmazások és szolgáltatások iránt megnövekedett mennyiségi és minőségi, ipari és társadalmi elvárások arra motiválnak bennünket fejlesztőket, hogy olyan fejlesztési módszertanokat dolgozunk ki, melyek fenntartható fejlesztési folyamatot biztosítanak. Mit jelent ez a pénzügyi területre készülő szoftverrendszerek és alkalmazások területén?</p>
                        </div>
                        <div class="speaker-item clear">
                            <div class="speaker-head"><img src="./images/profile_images/seres_krisztian.jpg" alt="Seres Krisztián"></div>
                            <h4>Seres Krisztián<br/><span>Full stack engineer at Peak Financial Services</span>
                            <h3>Legacy szoftver és technológiák a bankszektorban.</h3>
                            <p>A bankok növekedésében korlátoló tényezőt jelentenek legacy szoftverei és folyamatai. Az évek során fejlesztett banki technológiák ugyan működhetnek stabilan, megbízhatóan és biztonságosan, de általában nem tudják tartani a lépést ebben a folyamatosan változó és fejlődő iparágban. Arra kérésre keressük a választ, hogy milyen megoldásokkal tudja segíteni a fintech a tradicionális pénzintézeteket.</p>
                        </div>
                        <div class="speaker-item clear">
                            <div class="speaker-head"><img src="./images/profile_images/gulyas_david.jpg" alt="Gulyás Dávid"></div>
                            <h4>Gulyás Dávid<br/><span>GIRO Zrt.<br/>Szolgáltatásfejlesztési és szabványosítási osztály<br/>Szolgáltatásfejlesztési szakértő</span></h4>
                            <h3>Azonnali fizetési rendszer Magyarországon</h3>
                            <p>A GIRO Zrt. bemutatása - Rövid történelmi áttekintés, a GIRO Zrt. stratégiája<br/>
                                GIROInstant bemutatása<br/>
                                Kiegészítő szolgáltatások -  Másodlagos számlaazonosító szolgáltatás, Fizetési kérelem<br/>
                            Jövőkép / Új fizetési módok felhasználhatósága</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<center id="contact">
    <div class="bulb">
        <div class="bulb-left">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <div class="bulb-right">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <h2 class="section-headingLow">Kapcsolat</h2>
    </div>
</center>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-content wrap">
                    <div class="multiple-contact-item">
                        <div class="speaker-head"><img src="./images/profile_images/andor.jpg" alt="Umann Andor"></div>
                        <h4>Umann Andor</h4>
                        <h3>andor.umann@sch.bme.hu</h3>
                        <h3>+36-30-637-1437</h3>
                        <div class="speaker-head"><img src="./images/profile_images/kinga.jpg" alt="Bagoly Kinga"></div>
                        <h4>Bagoly Kinga</h4>
                        <h3>bagoly.kinga@sch.bme.hu</h3>
                        <h3>+36-20-290-7043</h3>
                    </div>

                    <div class="form">
                        <form method="POST" action="/contact">
                        <input id="contact-name" name="name" type="text" placeholder="Neved" />
                        <br/>
                        <input id="contact-email" name="email" type="text" placeholder="E-mail címed" />
                        <br/>
                        <textarea id="contact-message" name="message" placeholder="Üzeneted"></textarea>
                        <br/>
                        <button class="submit-button" id="contact-button">Elküldöm</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
</section>

<center class="section-heading" id="perform">
    <div class="bulb">
        <div class="bulb-left">
            <img src="./images/light-bulb.svg" alt="" />

        </div>
        <div class="bulb-right">
            <img src="./images/light-bulb.svg" alt="" />
        </div>
        <h2>Partnereink</h2>
    </div>
</center>
<section id="support">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner"><img src="./images/PPS-DumaSz-2014.png"></div>
                <div class="partner"><img src="./images/bbk.png"></div>
                <div class="partner"><img src="./images/PPS-SCH-2014.png"></div>
                <div class="partner"><img src="./images/simonyi.png"></div>
                <div class="partner middle"><img src="./images/kszk.png"></div>
                <div class="clear"></div>
                <div class="partner middle"><img src="./images/svk.png"></div>

            </div>
        </div>
</section>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


<!-- Theme JavaScript -->
<script src="js/creative.min.js"></script>
<footer>
    © Copyright 2018. Designed by SDS
    <img src="/images/fbimagefivev2.png" style="height: 0;overflow: hidden ;"/>
</footer>
</body>

</html>
